.father_box {
    margin-top: 5px;
    position: relative;
    width: 90%;
    height: 900px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
}

.content_one {
    overflow: hidden;
    padding-top: 3px;
    width: 18%;
    height: 100%;
    background-color: white;
}

.content_two {
    position: relative;
    left: 18%;
    top: -900px;
    width: 82%;
    height: 100%;
    background-color: white;
}